<%= form_with(model: @video, local: true) do |form| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= form.text_field :wistia, :placeholder => 'Link', :length => '10', id: :video_wistia %>
  </div>

  <div class="input-field">
    <%= form.text_field :title, :placeholder => 'Title', :length => '20', id: :video_title %>
  </div>

  <div class="input-field">
    <%= form.text_area :description, :placeholder => 'Description', :maxlength => '1000', :class => 'materialize-textarea', class: "validate", data:{ length: "1000"}, id: :video_description %>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
  <a href="<%= videos_path %>" class="btn waves-effect waves-light cyan darken-2" name="action">Back</a>
<% end %>
